{% extends "network/layout.html" %}

{% block body %}

<div class="row justify-content-center">
    <!-- colonna 75% pagina centrale -->
    <div class="col-11 col-md-9 col-lg-7 mx-auto">


        <!-- in cima textform per nuovo post -->
        <section id="post_section">
            {%if user.is_authenticated%}
            <div class="container d-flex justify-content-center mb-2">
                <form id = post_form action="{%url 'post' %}" method="post">
                    {%csrf_token%}
                    {{post_form.text}}
                    <div class="row"><input type="submit" class="btn btn-info mt-n1 rounded"></div>
                </form>
            </div>
            {%else%}
            <p>You have to login/register to post</p>
            {%endif%}

        </section>
    </div>
    </div>
        <!-- in teoria linea di separazione -->
<hr>

<div class="row justify-content-center">
<section class="section-posts col-9 col-md-7 col-lg-5">
    <!-- zona post precendti loop, se empy, error message -->
    {%for post in page_obj%}

        {% include 'network/post-card.html'%}




        {%empty%}
        <h3>there are no posts</h3>
        {%endfor%}
    </section>
</div>

<div class=" container-fluid d-flex justify-content-center">

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">

                <!-- go to first -->
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                {% if page_obj.has_previous%}
                <!-- previous page if present -->
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                    {% endif %}
                        <!-- current -->
                        <li class="page-item disabled"><a class="page-link" href="#">{{page_obj.number}}</a></li>

                    {% if page_obj.has_next %}
                    <!-- next page if present -->
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
              </ul>
            </nav>

</div>

</div>




{% endblock %}