{% load static %}

<!-- togliere shadow e aggiungerlo come event listener on hover??? -->
<div class="post-card card border-info mb-3 mx-auto">
    <div class="card-body">
      <div class="row-fluid d-flex justify-content-around">
            <p class="card-title OP">
                <!-- username is a link to profile -->
                <a href="{%url 'user' post.op.id%}">{{post.op}}</a>
            </p>
            <span class="text-muted"><small>{{post.timestamp}}</small></span>
            <button class="btn btn-success btn-sm">H</button>
      </div>
      <p class="card-text">{{post.text}}</p>
    </div>
    <div class="card-footer ">
        <button class="btn btn-danger btn-sm like-btn" value="{{post.id}}">&lt;3</button>
        <span>Likes ({{post.n_likes}})</span>
        <button class="btn btn-info btn-sm">comment</button>

    </div>
</div>