{%extends 'network/layout.html'%}
{%load static %}

{%block body%}
<!-- only is_authenticated users can see profiles -->
{%if user.is_authenticated%}
<!-- if profile returns empty queryset (MIGHT CHANGE IN VIEWS TO 404 PAGE) -->
{%if not profile%}
<div class="container-fluid d-flex justify-content-center">
    <h3>This profile doesn't exist</h3>
</div>
<!-- ELSE  if profile exists -->
{%else%}
<div class="row d-flex justify-content-center mb-4">
    <div class="col-5 d-flex justify-content-end align-items-center">

        <img src="{%static 'network/icons/user.png'%}" alt="picture">
        <h2><b>{{profile | capfirst}}</b></h2>
    </div>

    <div class="col-5 d-flex justify-content-start align-items-center">
        <ul style="list-style:none">
            <li>Followers: <span class="n_followers">{{profile.n_follower}}</span></li>
            <li>Following: {{profile.n_friends}}</li>
            {%if profile != user%}
            <li>
                {%if profile not in user.friends%}
                <button class="follow-btn btn btn-sm btn-success" value="{{profile.id}}">Follow</button>
                {%else%}
                <button class="follow-btn btn btn-sm btn-warning" value="{{profile.id}}">Unfollow</button>
                {%endif%}
                {%endif%}
            </li>
        </ul>


    </div>


    </div>

    <hr>

<!-- REMOVED colonna nel profilo per bio -->
<div class="col-5 bio-col">
    <div id="bio-section">
        <p><b>Bio</b></p>
        <p>bio placeholder</p>
        {%if profile == user%}
        <button class="btn btn-sm btn-warning">Edit Bio</button>
        {%endif%}
    </div>

</div>
<!-- REMOVED button to dasboard accessible only if this user is the owner of the profile -->


<div class="row justify-content-center mt-4">
    <section class="section-posts col-9 col-md-7 col-lg-5">
        <!-- zona post precendti loop, se empy, error message -->
        {%for post in page_obj%}

            {% include 'network/post-card.html'%}

        {%empty%}
        <div class="container-fluid d-flex justify-content-center">
            <h3>There are no posts by {{profile | capfirst}}</h3>
        </div>
        {%endfor%}
        </section>
    </div>

<div class=" container-fluid d-flex justify-content-center">

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">

            <!-- go to first -->
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            {% if page_obj.has_previous%}
            <!-- previous page if present -->
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                {% endif %}
                    <!-- current -->
                    <li class="page-item disabled"><a class="page-link" href="#">{{page_obj.number}}</a></li>

                {% if page_obj.has_next %}
                <!-- next page if present -->
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
          </ul>
        </nav>

</div>

<!-- endif user doesn't exist -->
{%endif%}

<!-- non authenticated users see error -->
{%else%}
<h3>You have to <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'register' %}">Register</a> to see a user's
    profile</h3>
{%endif%}
{%endblock%}